<nav>
  <a href="/">Home</a>
  <a href="/pizzas">All our pizzas</a>
  <a href="/pizzas/margarita">Margarita</a>
  <a href="/pizzas/veggie">Veggie</a>
  <a href="/pizzas/seafood">Seafood</a>
  <a href="/pizzas/hawaiian">Hawaiian</a>
  <a href="/contact">Contact</a>
</nav>