<h1>Byte Warrior's Bites</h1>
<h2>Best pizzas in town!</h2>

<img src="/images/home.jpg" />


<section class="card">
    <h3>Search by price:</h3>
    <form method="GET" action="/pizzas">
    <input name="maxPrice" type="number" min="1" max="99">
    <button type="submit">Search</button>
    </form>
</section>

<section class="card">
    <h3>Login:</h3>
    <form method="post" action="/login">
        <label >
            Enter your email:
            <input name="email" type="email">
        </label>
        <label >
            Enter your password:
            <input name="password" type="password">
        </label>
        <button type="submit">Search</button>
    </form>
</section>


{{> ctaBuyNow}}

